<h1>Products:</h1>

<ul>
  <% @products.each do |product| %>
    <li><%= product.name %>, <%= product.price %></li>
  <% end %>
</ul>

<form action="/add_product" method="post">
  <label for="name">Product name:</label>
  <input id="name" name="name" type="text">
  <label for="price">Product price:</label>
  <input id="price" name="price" type="text">
  <button type="submit">Add product</button>
</form>
