<h1><%= @product.name %></h1>
<h5>$<%= @product.price %></h5>

<form action="/product/<%= @product.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename your product:</label>
  <input id="name" name="name" type="text">
  <label for="price">Change the price:</label>
  <input id="price" name="price" type="text">

  <button type="submit">Update</button>
</form>

<a href="/">Go back to index</a>
